In [0]:
from google.colab import drive
drive.mount('/content/gdrive')

In [0]:
root_dir = "/content/gdrive/My Drive"
base_dir = root_dir + '/Customer Segmentation/'

In [0]:
import numpy as np 
import pandas as pd 
import os

In [4]:
dfSA=pd.read_csv(base_dir+'SAresults.csv')
print(dfSA.head())

   Unnamed: 0  ... Analysis
0           0  ...        0
1           1  ...        1
2           2  ...        1
3           3  ...        1
4           4  ...        1

[5 rows x 4 columns]

In [5]:
dfdemo=pd.read_csv(base_dir+'final_file.csv')
print(dfdemo.tail())
print(dfdemo.shape)

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

         Unnamed: 0  event_id            device_id  ... gender_y  age_y  group_y
1271908     1271908       NaN -3539330294838027409  ...        M     25   M23-26
1271909     1271909       NaN -4752726726975186730  ...        M     26   M23-26
1271910     1271910       NaN  4682031842235089751  ...        M     30   M29-31
1271911     1271911       NaN -9178703742877135986  ...        M     30   M29-31
1271912     1271912       NaN   180946546684162312  ...        M     20     M22-

[5 rows x 14 columns]
(1271913, 14)

In [6]:
dfdemoNA=dfdemo.dropna(axis=0,inplace=False)
print(dfdemoNA.tail())
print(dfdemoNA.shape)

         Unnamed: 0   event_id            device_id  ... gender_y  age_y  group_y
1220469     1220469  3249513.0  4374492668099697484  ...        M     18     M22-
1220470     1220470  3249757.0  -348628281270381461  ...        M     21     M22-
1220471     1220471  3250919.0  -634925280832154541  ...        M     49     M39+
1220472     1220472  3251114.0  2390927717095168323  ...        M     26   M23-26
1220473     1220473  3251686.0 -1184626127904161598  ...        F     20     F23-

[5 rows x 14 columns]
(1220474, 14)

In [7]:
dfSA.shape

(550531, 4)

In [0]:
dfdemo=dfdemoNA[:550531]

In [9]:
dfdemo.shape

(550531, 14)

In [0]:
df=pd.concat([dfSA,dfdemo],axis=1)

In [11]:
df.shape

(550531, 18)

In [12]:
df.head(5)

   Unnamed: 0                                            Reviews  ...  age_y  group_y
0           0  as a diehard samsung fan who has had every sam...  ...     46     M39+
1           1  love the phone  the phone is sleek and smooth ...  ...     46     M39+
2           2  adequate feel  nice heft  processor s still sl...  ...     46     M39+
3           3  never disappointed  one of the reasons i ve be...  ...     46     M39+
4           4  i ve now found that i m in a group of people t...  ...     46     M39+

[5 rows x 18 columns]

In [0]:
df.drop(labels='gender_y',axis=1,inplace=True)
df.drop(labels='age_y',axis=1,inplace=True)
df.drop(labels='group_y',axis=1,inplace=True)

In [14]:
df.head(5)

   Unnamed: 0  ... device_model
0           0  ...       红米note
1           1  ...       红米note
2           2  ...       红米note
3           3  ...       红米note
4           4  ...       红米note

[5 rows x 15 columns]

In [15]:
df.shape

(550531, 15)

In [0]:
df.to_csv(base_dir+'ABC.csv')